.ProductsContainer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.ProductsSearchContainer {
  padding: 0 20px;
  width: 100%;
  max-width: 100%;
}

.ProductIconContainer {
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductAddCard {
  opacity: 50%;
  color: white;
  background-color: var(--color-primary);
}

.ProductAddCardText {
  opacity: 65%;
  color: var(--color-primary);
}
