.ProductsContainer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.ProductsSearchContainer {
  padding: 0 20px;
  width: 100%;
  max-width: 100%;
}

.ProductsCategoryContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ProductIconContainer {
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductAddCard {
  color: white;
  background-color: var(--color-primary);
  transition: var(--transition-color);
}

.ProductAddCard:hover {
  background-color: var(--color-primary-hover);
}

.ProductAddCardText {
  color: var(--color-primary);
}

.ProductsFilterItem {
  background-color: var(--color-white);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-primary);
  border-radius: 4px;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.ProductsFilterItem:hover {
  border-color: var(--color-primary-hover);
}

.ProductsFilterItemActive {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.ProductsFilterItemActive:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
}
