.ProductsContainer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.ProductsSearchContainer {
  padding: 0 20px;
  width: 100%;
  max-width: 100%;
}
