{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": "warn",
    "no-use-before-define": "warn",
    "prettier/prettier": "error",
    "react/require-default-props": "warn",
    "import/prefer-default-export": "warn",
    "react/prop-types": "warn",
    "react/forbid-prop-types": "off",
    "max-len": ["error", {
      "code": 120
    }],
    "jsx-a11y/label-has-associated-control": "off"
  }
}

