.OrderProductCard {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.OrderProductCardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.OrderProductCardClose {
  position: absolute;
}

.OrderProductCardImage {
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-medium);
  color: var(--color-text-header);
}

.OrderProductCardFormLabel {
  margin-bottom: 1rem;
}

.OrderProductCardFormContainer {
  display: flex;
  flex-direction: column;
}

.OrderProductCardFormButtons {
  align-self: flex-end;
}
