.ProductCard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
  align-items: center;
  transition: var(--transition-opacity);
}

.ProductCardRegular:active,
.ProductCardRegular:focus {
  outline: 0;
  border: none;
}

.ProductCardRegular:hover {
  opacity: 70%;
}

.ProductIconContainer {
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 280px;
}
