body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 100px;
  background-color: var(--color-background-light);
}

.MainContainer {
  padding-top: 120px;
}

.Header {
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RowSpaced {
  justify-content: space-between;
}

.Separator {
  width: 40px;
}

.AddForm {
  display: flex;
  flex-direction: column;
}

.AddFormInput {
  margin-bottom: 20px;
}

.AddFormInputLabel {
  margin-bottom: 20px;
  margin-right: 10px;
  text-wrap: none;
  white-space: nowrap;
}

.AddFormInputArea {
  height: 300px;
}

.AddButton {
  align-self: flex-end;
}

:root {
  --color-white: #ffffff;
  --color-primary: #007bff;
  --color-secondary: #05b2dc;
  --color-tertiary: #c9cba3;
  --color-text: #464646;
  --color-text-hover: #ccc;
  --color-text-header: #636363;
  --color-text-light: #ffffff;
  --color-text-light-hover: #d9d9d9;
  --color-text-medium: #d9d9d9;
  --color-text-medium-hover: #fff;
  --color-grey: #ccc;
  --color-background-light: #fafafa;
}
