.ProductAddForm {
  display: flex;
  flex-direction: column;
}

.ProductAddFormInput {
  margin-bottom: 20px;
}

.ProductAddFormInputLabel {
  margin-bottom: 20px;
  margin-right: 10px;
}

.ProductAddFormInputArea {
  height: 300px;
}

.ProductAddButton {
  align-self: flex-end;
}
